{% extends 'admin_layout.html' %}
{% block content %}
<div class="container">

  <div style="margin-top: 5px;">
    

    {# 搜索框#}
    <div style="float: right;width: 300px;">
      <form method="get">
        <div class="input-group">
          <input name="q" type="text" class="form-control" placeholder="Search for..." value={{ search_data }}>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>


  </div>



  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
      选题申请列表
    </div>

    <!-- Table -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>名称</th>
          <th>申请人</th>
          <th>性质</th>
          <th>适合专业</th>
          <th>工作量</th>
          <th>课题来源</th>
          <th>操作</th>

        </tr>
      </thead>
      <tbody>
        {% for obj in title_list %}
        <tr>
          <th>{{ obj.id }}</th>
          <td>{{ obj.title_name }}</td>
          <td>{{ obj.teacher.name }}</td>
          <td>{{ obj.get_title_quality_display }}</td>
          <td>{{ obj.fit_major }}</td>

          <td>{{ obj.get_work_time_display }}</td>
          <td>{{ obj.get_title_source_display  }}</td>

          <td>

            <a href="/admin/{{ obj.id }}/approvetitle" class="btn btn-primary btn-xs" name="">同意</a>

            <a href="/admin/{{ obj.id }}/negativetitle" class="btn btn-danger btn-xs" name="">拒绝</a>

            <input uid="{{ obj.id }}" type="button" class="btn btn-primary btn-xs btn-edit" value="详情">


          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <ul class="pagination">
    {{page_string }}
    <li>
      <form method="get" name="page" style="float: left;margin-left: -1px;">
        <div class="input-group" style="position: relative;float: left;display: inline-block;width: 80px;">
          <input type="text" name="page" class="form-control" placeholder="页码">
          <button class="btn btn-default" type="submit">跳转</button>
        </div>
      </form>
    </li>
  </ul>


<!-- 新建选题模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">选题详情</h4>
      </div>
      <div class="modal-body">
        <form id="formAdd">
          <div class="clearfix">
            {% for field in form %}
            <div class="col-xs-6">
              <div class="form-group" style="position: relative;">
                <label>{{ field.label }}</label>
                {{ field }}
                <span class="error-msg" style="color: red; position: absolute;"></span>
              </div>
            </div>
            {% endfor %}
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
        <button id="btnSave" type="button" class="btn btn-primary">保 存</button>
      </div>
    </div>
  </div>
</div>




</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
  var EDIT_ID;

  $(function(){
    bindBtnEditEvent();
    bindBtnSaveEvent();

  
  })

  function bindBtnEditEvent(){
    $(".btn-edit").click(function(){

        // 清空对话框内容,否则会显示上次编辑的数据，变基处同样作此操作
        $('#formAdd')[0].reset();
        //清楚错误信息
        $(".error-msg").empty();
        //点击编辑，但后台反馈存在数据才显示对话框
        var uid=$(this).attr("uid");
        EDIT_ID = uid;

        //发送ajax请求获取当前行相关数据
        $.ajax({
          url:"/admin/applytitledetail/",
          type:"get",
          data:{
            uid:uid
          },
          dataType:"JSON",
          success:function(res){
            if(res.status){
              console.log(res);
              //将数据赋值到对话框中的标签中
              $.each(res.data,function(name,value){
                $("#id_"+name).val(value);
              })

              $('#myModal').modal('show');

            }else{
              alert(res.error);
            }
          }

        });
        //在对话框中默认看到
    });
  }


  function bindBtnSaveEvent(){
    $("#btnSave").click(function(){
      //向后台发送请求 （编辑的ajax请求）
      $.ajax({
        url: "/admin/applytitleedit/"+"?uid="+EDIT_ID,  //   /admin/userdetail/?uid=123
        type: "post",
        data: $("#formAdd").serialize(),
        dataType: "JSON",
        success: function (res) {
          if (res.status) {
            //清空表单 $("#formAdd")是jQuery对象 -> $("#formAdd")[0] DOM对象
            $("#formAdd")[0].reset();

            //关闭对话框
            $('#myModal').modal('hide')

            //刷新页面
            location.reload();

          } else {
            if(res.tips){
              alert(res.tips);
            }else{
                //错误信息显示在对话框
              //name即字段名 errorList即错误内容
              $.each(res.error, function (name, errorList) {
                $("#id_" + name).next().text(errorList[0]);
              })
            }
            
          
          }

        }

      });
    })
  }
</script>

{% endblock %}