{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            成绩表上传列表
        </div>


        <!-- 表单 -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th></th>
                    <th>选题名称</th>
                    <th>学生id</th>
                    <th>学生姓名</th>
                    <th>文件</th>

                </tr>
            </thead>
            <tbody>
                {% for obj in title_list %}
                <tr>
                    <th>{{ obj.id }}</th>
                    <td> </td>
                    <td>{{ obj.titlename.title_name }}</td>
                    <td>{{ obj.stuname.id }}</td>
                    <td> {{ obj.stuname.name }}</td>

                    <td>
                        <a href="/title/{{ obj.id }}/uploadscore" class="btn btn-primary btn-xs">上传</a>

                    </td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <ul class="pagination">
        {{page_string }}
        <li>
            <form method="get" name="page" style="float: left;margin-left: -1px;">
                <div class="input-group" style="position: relative;float: left;display: inline-block;width: 80px;">
                    <input type="text" name="page" class="form-control" placeholder="页码">
                    <button class="btn btn-default" type="submit">跳转</button>
                </div>
            </form>
        </li>
    </ul>
    
</div>

{% endblock %}